html{
    font-size: medium;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex; 
    display: inline-block;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    top: 0; 
}
.logo{
    display: flex;
}
.nav_links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.search_cart{

}